/*Cuerpo*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  position:relative;
  padding-bottom: 3em;
  font-family: Arial, sans-serif;
}
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
/*Cabeza*/
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}
.Nombre h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  background-color: #333;

}

.login {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo del botón y partes de categorias */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo del contenedor de opciones */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo de las opciones (ocultas por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los enlaces dentro del contenedor de opciones */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Estilo de los enlaces al pasar el cursor sobre ellos */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar las opciones cuando el botón se hace clic */
.show {
  display: block;
}
/*Parte de los productos*/
.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 4px;
  padding: 10px;
  border: 1px solid #ccc;
}

.item img {
  max-width: 100%; /* Hacer que las imágenes se ajusten al ancho del contenedor */
  height: auto; /* Mantener la proporción de aspecto de las imágenes */
}

/* Estilos para la imagen */
.Prod:hover {
  filter: brightness(150%);
  width: 80%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
/* Estilos para la información del producto */
.product-info {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  font-style: italic;
  color: #3b3838;
}
.boton-carro {
  background-color: #4CAF50; /* Color de fondo verde */
  border: none;
  color: white;
  padding: 10px 20px; /* Espaciado interior del botón */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
  transition-duration: 0.4s; /* Duración de la transición al pasar el mouse */
}

/* Cambiar el color de fondo al pasar el mouse sobre el botón */
.boton-carro:hover {
  background-color: #45a049;
}

/*Menu Mi lista*/
.menu {
  display: none;
  position: bottom;
  top: 60px;
  left: 20px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.menu.active {
  display: block;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu ul li:hover {
    background-color: #555;
}

.menu-btn {
  background-color: #333;
  color: white;
  border: none;
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}


.menu-btn:hover {
    background-color: #555;
}

.item {
    margin-bottom: 20px;
}

.product-info p {
    margin: 5px 0;
    
}

.product-image {
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.realizar-compra-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.realizar-compra-btn:hover {
    background-color: #45a049;
}

/* Estilo para el botón de "Agregar al Carro" */
.boton-carro {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.boton-carro:hover {
    background-color: #005f6b;
}

/* Estilo para el botón de "Quitar del Carro" */
.boton-quitar {
    background-color: #ba0000;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.boton-quitar:hover {
    background-color: #7b0000;
}


/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  padding: 20px;
  flex: 1;
  min-width: 200px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #222;
  text-align: center;
  padding: 10px 0;
}
